.input-group {
   display: flex;
   flex-wrap: wrap;
}

.input-group__item {
   height: 50px;
   margin-left: 10px;
   &:first-child {
      margin-left: 0;
      flex: 2;
   }
   select, input {
      height: 100%;
      width: 100%;
      padding-left: 10px;
   }
}
