.list-header {
   background: #f7f7f7;
   border: 1px solid darken(#f7f7f7, 7%);
   color: #666;
   display: flex;
   justify-content: space-between;
   padding: $s-size $m-size;
}

.list-item {
   display: flex;
   flex-direction: column;
   border-top: none;
   color: #333;
   padding: $s-size;
   text-decoration: none;
   border: 1px solid darken(#f7f7f7, 7%);
   transition: background .3s ease;
   &:last-child {
      margin-bottom: 50px;
   }
   &:hover {
      background: #f7f7f7;
   }
   @media (min-width: $desktop-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
      padding: $m-size;
      align-items: center;
   }
}
